    .scanner-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        /* Độ dày của vạch quét */
        background-color: red;
        /* Màu của vạch quét */
        animation: scan 2s linear infinite;
        /* Thời gian và kiểu quét */
    }

    @keyframes scan {
        0% {
            top: 0;
        }

        50% {
            top: calc(100% - 2px);
            /* Di chuyển từ trên xuống dưới */
        }

        100% {
            top: 0;
            /* Quay trở lại vị trí ban đầu */
        }
    }

    .divvideo {
        position: relative;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        overflow: hidden;
        clip-path: inset(30% 8% 30% 8%);
        width: calc(100% - (8% * 2));
        height: calc(100% - (30% * 2));
        // /* Ẩn các phần thừa */
    }

    video {
        clip-path: inset(30% 8% 30% 8%);
        /* Chỉ giữ lại box giữa */
        object-fit: cover;
        /* Phóng to vừa khung */
    }

    .video.thanhcong {
        border: 2px solid rgb(0, 180, 0);
    }

    .divButtonImel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
    }

    .btnAddImelist {
        padding: 10px;
        border: none;
        width: 100px;
        background-color: var(--blue);
        color: var(--white);
        border-radius: 5px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .btnHuyImelist {
        padding: 10px;
        border: none;
        width: 100px;
        background-color: rgb(254, 44, 44);
        color: var(--white);
        border-radius: 5px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    @media screen and (max-width: 46.1875em) {

        .results {
            margin-top: 10px;
            text-align: center;
        }

    }