.modal-data-screen {
    .open-modal-btn {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
    .product-icon {
      width: 50px;
      margin-right: 10px;
    }
  
    h2 {
      margin: 0;
      font-size: 20px;
    }
  
    p {
      margin: 0;
      font-size: 14px;
      color: gray;
    }
  }
  
  .size-selector {
    display: flex;
    gap: 10px;

  
    .size-btn {
      background-color: #f0f0f0;
      padding: 10px;
      border: none;
      border-radius: 20px;
      margin-bottom: 10px;
      cursor: pointer;
      &.available {
        background-color: #007bff;
        color: white;
      }
    }
  }
  
  .modal-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  
    th,
    td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  
    .agree-btn {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
    }
  
    .close-btn {
      background-color: #f0f0f0;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  