.tablenhap {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tablenhap thead th {
    position: relative;
    min-width: 70px;
    overflow: hidden;
  }
  

.theadnhap .tdnhap {
    font-weight: bold;
    resize: horizontal; 

}

.tablenhap td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    overflow: hidden;  
    min-width: 70px; 
  }
