.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 250px;
    position: fixed;
    top: 70px;
    bottom: 0;
}

.sidebar ul {
    list-style: none;
    margin-right: 0px;
    padding-inline-start: 0px;
}

.sidebar ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 4px;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

@media screen and (max-width: 46.1875em) {
    .sidebar {
        display: none;
    }
}