*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
.ul-tq{
    list-style: none;
    background: #0167c7;
}
.ul-tq li{
    display: inline-block;
    position: relative;
}
.ul-tq li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.ul-tq li ul.dropdown-help li {
    display: block;
}
.ul-tq li ul.dropdown-help {
    width: 100%;
    background-color:  #0167c7;
    position: absolute;
    z-index: 99999;
    display: none;

}
.ul-tq li a:hover{
    background-color:  #305f7a;
}
.ul-tq li:hover ul.dropdown-help{
    display: block;
}
.ql-align-center{
    text-align: center;
}