/* Loading Spinner Styles */

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Chiều cao toàn màn hình */
    background-color: #f8f9fa;
    /* Màu nền nhẹ */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* Thêm bóng đổ cho container */
    border-radius: 10px;
    /* Bo góc cho container */
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    /* Viền ngoài nhạt */
    border-top: 8px solid #3498db;
    /* Viền trên có màu để tạo vòng quay */
    border-radius: 50%;
    width: 80px;
    /* Tăng kích thước spinner */
    height: 80px;
    /* Tăng kích thước spinner */
    animation: spin 1s linear infinite;
    /* Tạo hiệu ứng xoay */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Thêm bóng đổ cho spinner */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.h3loading {
    font-size: 20px;
    /* Tăng kích thước chữ */
    font-weight: 500;
    margin-top: 20px;
    /* Tạo khoảng cách giữa spinner và tiêu đề */
    color: #333;
    /* Màu chữ tối để dễ đọc */
    text-align: center;
    /* Căn giữa chữ */
}


/* Hiệu ứng thêm cho tiêu đề */

.h3loading::after {
    content: '';
    display: block;
    width: 50px;
    /* Độ rộng của đường kẻ dưới */
    height: 3px;
    /* Độ cao của đường kẻ dưới */
    background: #3498db;
    /* Màu đường kẻ dưới */
    margin: 10px auto;
    /* Căn giữa đường kẻ dưới */
}

.action-menu {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.action-menu h4 {
    margin: 0;
    font-size: 16px;
}

.action-menu .btn-xoa,
.action-menu .btn-xuat {
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
}

.action-menu .btn-xoa:hover,
.action-menu .btn-xuat:hover {
    background-color: #0056b3;
}
.barcode-print{
    width: 300px;
    height: 300px;
    margin-left: 80px;
}
.barcode-print1{
    width: 100%;
    height: 100%;
}
.btninimel{
    border: none;
    background-color: #28a745;
    color: var(--white);
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    flex: 1 1;
    margin-left: 10px;
    cursor: pointer;
}
@media (max-width: 480px) {
    .barcode-print{
    width: 200px;
    height: 200px;
    margin-left: 90px;
}
.barcode-print1{
    width: 100%;
    height: 100%;
}
.btninimel{
    font-size: 15px;
    margin-top: 10px;
}
}
