@media (max-width: 480px) {
    .divtablekhachhang {
        width: 100%;
        overflow-x: auto;
        height: 700px;

        table {
            thead {
                position: sticky;
                top: 0;
                z-index: 100;
                background-color: white;
            }
        }
    }

    .divkhachhang {
        .pagination1 {
            padding: 0 !important;
        }
    }
}