         html,
         body {
             margin: 0;
             height: 100%;
             /* Đảm bảo html và body chiếm toàn bộ chiều cao */
         }
         
         body {
             margin: 0;
             font-family: var(--font-family);
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
         }
         
         code {
             font-family: var(--font-family);
         }